<div class="container">
   <div class="dashboard-header-container">
       <div class="dash-heading-text">
            <h1>Welcome Back, Thatna!</h1>
            <p>Let's do the best today!</p>
       </div>
       <div class="dash-search-box">
            <form class="example-form" autocomplete="off">
                <mat-form-field appearance="legacy">
                    <mat-label>Search here...</mat-label>
                    <input matInput placeholder="Search here...">
                </mat-form-field>
                <!-- <input type="text" placeholder="Search here..."> -->
                <button mat-button>
                    <span class="material-icons-round">
                        search
                    </span>
                </button>
            </form>
       </div>
   </div>
   <div class="dash-project-summary">
       <div class="title-section">
           <h2 id="project-heading-title">Project Summary</h2>
           <p id="see-all-project"><a href="">See All Projects ></a></p>
       </div>
       <div class="summary-card-wrapper">
           <div class="card-rows">
               <div class="card-cols card-1">
                    <div class="summary-card">
                        <div class="card-icons">
                            <span class="material-icons">
                                edit
                            </span>
                        </div>
                        <div class="card-desc">
                            <h1>12</h1>
                            <h2>In Progress <br> Projects </h2>
                        </div>
                    </div>
               </div>
                <div class="card-cols card-2">
                    <div class="summary-card">
                        <div class="card-icons">
                            <span class="material-icons">
                                edit
                            </span>
                        </div>
                        <div class="card-desc">
                            <h1>52</h1>
                            <h2>Completed <br> Projects </h2>
                        </div>
                    </div>
                </div>
                <div class="card-cols card-3">
                    <div class="summary-card">
                        <div class="card-icons">
                           Team Members
                        </div>
                        <div class="member-icons">
                            <img src="../../../assets/images/man.png" alt="" width="40px">
                            <img src="../../../assets/images/man2.png" alt="" width="40px">
                            <img src="../../../assets/images/user.png" alt="" width="40px">
                           <img src="../../../assets/images/profile.png" alt="" width="40px">
                        </div>
                        <div class="card-desc card-desc-3">  
                            <h2>Working Time <br> 135 H </h2>
                        </div>
                    </div>
                </div>
           </div>
       </div>
   </div>
   <div class="my-tasks-heading-title">
       <h2>My Tasks</h2>
   </div>

   <div class="my-tasks-nav-wrapper">
       <div class="task-nav-items">
           <ul>
               <li><a href="">Active Tasks</a></li>
               <li><a href="">Completed</a></li>
           </ul>
       </div>
       <div class="tasks-nav-btn-create">
           <!-- <button id="btn-task-add-new">

           </button> -->
            <button mat-button>+ Add New</button>
       </div>
   </div>


   <div class="projects-container">
       <div class="projects-container-wrapper">
           <div class="project-details">
                <div class="project-icons">
                    <img src="../../../assets/images/test.png" alt="" width="80px">
                </div>
                <div class="projects-desc">
                    <h4>Staak Project</h4>
                    <div class="project-details">
                        <span class="material-icons-outlined">
                            attach_file
                        </span>
                        <p>Design Brief <span> + 30 files</span></p>
                        <span class="material-icons-outlined">
                            textsms
                        </span>
                        <p>200 Comments</p>
                    </div>
                
                </div>
           </div>
            <div class="progressing">
                <div class="progress-section">
                    <h3>Progress</h3>
                </div>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>


          
       </div>
   </div>



</div>