<div class="sidebar-wrapper">
    <div class="dashboard-logo">
        <img src="../../../assets/images/dashboard.png" alt="" width="30px">
    </div>
    <div class="siderbar-navigation-wrapper">
        <ul class="nav-items">
            <li>
                <span class="material-icons-outlined">
                    space_dashboard
                </span>
            </li>
            <li>
                <span class="material-icons-outlined">
                    pie_chart
                </span>

            </li>
            <li>
                <span class="material-icons-outlined">
                    calendar_month
                </span>
            </li>
            <li>
                <span class="material-icons-outlined">
                    question_answer
                </span>
            </li>
            <li>
                <span class="material-icons-outlined">
                    settings
                </span>
            </li>
            <li>
                <span class="material-icons-outlined">
                    logout
                </span>
            </li>
            
        </ul>
      
    </div>
  
   
</div>